{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flashError in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flashError }}</div>
	{% endfor %}

	<div class="container table-responsive">
        <form class="row gy-2 gx-3 align-items-center">

		<h1>Inscription</h1>

    {{ form_start(registrationForm, {'attr': {'novalidate': 'novalidate'}}) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.nickname) }}
        {{ form_row(registrationForm.age) }}
        {{ form_row(registrationForm.gender) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.agreeTerms) }}

		<button type="submit" class="btn btn-secondary">Envoyer</button>
		{{ form_end(registrationForm) }}
        </form>
	</div>
{% endblock %}
