{% extends 'base.html.twig' %}

{% block title %}Barre de recherche{% endblock %}

{% block body %}


<form class="d-flex m" action="">
    <input name="search" class="form-control me-2" type="search" placeholder="Ex : ville" aria-label="Search">

    <select name="category" id="category-select">
        <option value="">--Merci de choisir une catégorie--</option>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
    </select>

    <button class="btn btn-outline-secondary" type="submit">Aller</button>
</form>




<h2>
        Résultats de la recherche : 
        <em>{{query}}</em>
    </h2>
    <ul>
        {% for event in results %}
            <li>{{ event.title }}</li>
            <li>{{ event.city.name }}</li>
        {% endfor %}
    </ul>


{% endblock %}