{% extends 'base.html.twig' %}

{% block title %}Événements - Travel Mate
{% endblock %}

{% block body %}
	<h1>Liste des événements</h1>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>City ID</th>
				<th>Creator ID</th>
				<th>Nom de l'événement</th>
				<th>Description</th>
				<th>Nombre de participants</th>
				<th>Date de début</th>
				<th>Statut</th>
				<th>Créé le</th>
				<th>Mis à jour le</th>
			</tr>
		</thead>
		<tbody>
		<a href="{{ path('backoffice_event_new') }}">Ajouter un événement</a>
			{% for event in events %}
				<tr>
					<td>{{ event.id }}</td>
					<td>{{ event.city.name }}</td>
					<td>{{ event.creator.id }}</td>
					<td>{{ event.title }}</td>
					<td>{{ event.content }}</td>
					<td>{{ event.participant }}</td>
					<td>{{ event.startAt | date('y-m-d') }}</td>
					<td>{{ event.status }}</td>
					<td>{{ event.createdAt | date('y-m-d') }}</td>
					<td>{{ event.updatedAt | date('y-m-d') }}</td>
					<td>
						<a href="{{ path('backoffice_event_show', {'id': event.id}) }}">Voir</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}