{% extends "base.html.twig" %}

{% block body %}

    <h2>Ajout d'une catégorie</h2>
    {{ form_start(formView, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(formView.name, {'attr': {'class':'geronimo'}}) }}
    {{ form_row(formView.image, {'attr': {'class':'geronimo'}}) }}

    <button class="btn btn-primary">Valider</button>
    {{ form_end(formView) }}

    <p>
        <a href="{{ path('backoffice_category_index') }}">Retour à la liste</a>
    </p>

{% endblock %}
