


<form class="d-flex m" action="">
    <input name="search" class="form-control me-2" type="search" placeholder="Ex : ville" aria-label="Search">

    {# <select name="country" id="pet-select">
        <option value="">--Please choose an option--</option>
            {% for country in countries %}
                <option value="">{{ country.name }}</option>
            {% endfor %}
    </select> #}


    {# <ul>
        {% for season in tvShow.seasons %}
            <li>
                <ul>
                    {% for episode in season.episodes %}
                        <li>{{ episode.title }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul> #}

    {# <ul>
        {% for country in countries %}
            <li>
                <ul>
                    {% for city in country.cities %}
                        <li>{{ city.name }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul> #}

    <button class="btn btn-outline-secondary" type="submit">GO</button>
</form>



{# 
<h2>
        Résultats de la recherche : 
        <em>{{query}}</em>
    </h2>
    <ul>
        {% for event in results %}
            <li>{{ event.title }}</li>
        {% endfor %}
    </ul> #}